{% if ipsec_esp is defined or ipsec_isakmp is defined -%}
  {% include "include/ipsec_settings.j2" %}
{% endif %}

{% if ipsec_peers is defined -%}
  {% include "include/ipsec_peers.j2" %}
{% endif %}
